<h2>Questions and Responses</h2>
<mat-table [dataSource]="questionsAndResponses">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.id }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="question">
    <mat-header-cell *matHeaderCellDef>Question</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.question }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="response">
    <mat-header-cell *matHeaderCellDef>Response</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.response }}</mat-cell>
  </ng-container>

  <!-- Add more column definitions as needed -->

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<!-- <mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
></mat-paginator> -->
