<div class="pt-5 pb-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-6 order-lg-1 pb-5 mb-lg-0">
                <img src="./assets/quote1.jpeg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-6 order-lg-1 pb-5 mb-lg-0">
                <img src="./assets/quote5.jpeg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-6 order-lg-1 pb-5 mb-lg-0">
                <img src="./assets/quote3.jpeg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-6 order-lg-1 pb-5 mb-lg-0">
                <img src="./assets/quote4.jpeg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-6 order-lg-1 pb-5 mb-lg-0">
                <img src="./assets/quote2.jpeg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-6 order-lg-1 pb-5 mb-lg-0">
                <img src="./assets/quote6.jpeg" alt="Image" class="img-fluid">
            </div>
        </div>
    </div>
</div>