<div class="pt-5 pb-5">
    <div class="container pt-5 pb-5">
        <div class="row pb-5">
            <div class="col-lg-5 order-lg-1 mb-4 mb-lg-0">
                <img src="./assets/yb-chavan.jpg" alt="Image" class="img-fluid1">
            </div>
            <div class="col-lg-7 order-lg-2">
                <h2 class="mb-4 heading"><b>Yashwantrao B. Chavan</b></h2>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex. <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex. <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex. <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex. <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex. <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex.
                </p>
            </div>
        </div>

        <div class="row pt-5 pb-5">
            <div class="col-lg-5 order-lg-2 mb-4 mb-lg-0">
                <img src="./assets/babasaheb-ambedkar.jpg" alt="Image" class="img-fluid1">
            </div>
            <div class="col-lg-7 order-lg-1">
                <h2 class="mb-4 heading"><b>Dr. Babasaheb Ambedkar</b></h2>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex. <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex. <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex. <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex. <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex. <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex.
                </p>
            </div>
        </div>

        <div class="row pt-5 pb-5">
            <div class="col-lg-5 order-lg-1 mb-4 mb-lg-0">
                <img src="./assets/phule.jpg" alt="Image" class="img-fluid1">
            </div>
            <div class="col-lg-7 order-lg-2">
                <h2 class="mb-4 heading"><b>Mahatma Jyotiba Phule</b></h2>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex. <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex. <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex. <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex. <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex. <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex.
                </p>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-lg-5 order-lg-2 mb-4 mb-lg-0">
                <img src="./assets/shahu.jpg" alt="Image" class="img-fluid1">
            </div>
            <div class="col-lg-7 order-lg-1">
                <h2 class="mb-4 heading"><b>Chhatrapati Shahu Maharaj</b></h2>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex. <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex. <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex. <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex. <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex. <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur suscipit vero
                    explicabo esse pariatur repellendus, temporibus beatae itaque doloremque, magnam minima animi veniam
                    exercitationem? Ea eveniet rem quaerat ratione ex.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="pt-5 pb-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-6 order-lg-1 pb-5 mb-lg-0">
                <img src="./assets/quote1.jpeg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-6 order-lg-1 pb-5 mb-lg-0">
                <img src="./assets/quote5.jpeg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-6 order-lg-1 pb-5 mb-lg-0">
                <img src="./assets/quote3.jpeg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-6 order-lg-1 pb-5 mb-lg-0">
                <img src="./assets/quote4.jpeg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-6 order-lg-1 pb-5 mb-lg-0">
                <img src="./assets/quote2.jpeg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-6 order-lg-1 pb-5 mb-lg-0">
                <img src="./assets/quote6.jpeg" alt="Image" class="img-fluid">
            </div>
        </div>
    </div>
</div>