<div class="footer bg-dark pt-5">
    <div class="container">
        <div class="row mb-3">
            <div class="col-lg-5">
                <h2 class="text-white mb-4"><b>NCP Constituency Management System</b></h2>
                <h5 class="text-white">संकल्प पुन्हा, जनतेप्रती बांधिलकीचा निश्चय पुन्हा, विकसनशील वचनपूर्तीचा
                    राष्ट्रवादी पुन्हा...</h5><br>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <h3 class="footer-heading text-white"><span>Quick Links</span></h3>
                <ul class="list-unstyled">
                    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">> Home</a>
                    </li>
                    <li><a routerLink="/baramatiMap" routerLinkActive="active">> Baramati Map</a></li>
                    <li><a routerLink="/khadkwaslaMap" routerLinkActive="active">> Khadakwasla Map</a></li>
                    <li><a routerLink="/daundMap" routerLinkActive="active">> Daund Map</a></li>
                    <li><a routerLink="/indapurMap" routerLinkActive="active">> Indapur Map</a></li>
                </ul>
            </div>
            <div class="list col-lg-3">
                <ul class="list-unstyled">
                    <li><a routerLink="/purandarMap" routerLinkActive="active">> Purandar Map</a></li>
                    <li><a routerLink="/bhorMap" routerLinkActive="active">> Bhor Map</a></li>
                    <li><a routerLink="/form" routerLinkActive="active">> Users Form</a></li>
                    <li><a routerLink="/adminLogin" routerLinkActive="active">> Only Admin Login</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="copyright border-top pt-4 text-center">
                    <p>&copy;
                        {{ currentYear }} All Rights Reserved By <a routerLink="/">NCP Constituency Management
                            System</a>
                        <!-- | Distributed By <a href="https://chordztechnologies.com/" target="_blank">Chordz Technologies
                            Pvt. Ltd.</a> -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>