body {
    background-color: #01171b;
}

/* Set SVG path styles */
svg path {
    /* fill: transparent !important; */
    stroke: #000000;
    stroke-width: 0.03rem;

    /* Use a valid unit for stroke width */
}

/* Change SVG path color on hover */
svg path:hover {
    /* fill: #054752; */
    transition: 0.6s;
    cursor: pointer;
    stroke: #000000;
    transform: translateY(-3px);
}

/* Center the SVG */
.svg-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* Add overflow hidden to prevent horizontal overflow */
}

/* Make SVG responsive */
.svg-container svg {
    width: 100%;
    max-width: 100%;
}

.color-div {
    background: white;
    width: 250px;
    margin-left: 10px;
}

.indicator {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right: 8px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}