body {
    background-color: #01171b;
}

/* Set SVG path styles */
svg path {
    /* fill: transparent !important; */
    stroke: #000000;
    stroke-width: 0.03rem;

    /* Use a valid unit for stroke width */
}

/* Change SVG path color on hover */
svg path:hover {
    /* fill: #054752; */
    transition: 0.6s;
    cursor: pointer;
    stroke: #000000;
    transform: translateY(-3px);
}

/* Center the SVG */
.svg-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    /* Add overflow hidden to prevent horizontal overflow */
}

/* Make SVG responsive */
.svg-container svg {
    width: 100%;
    max-width: 100%;
}