.navbar {
    background: linear-gradient(171deg, rgba(222, 86, 18, 1) 15%, rgba(250, 250, 250, 1) 50%, rgba(6, 180, 61, 1) 88%);
}

/* li.nav-item:hover {
    border-bottom: 3px solid black;
} */

h1 {
    color: #2E3192;
}

.lang {
    width: 88%;
}

/* .btn {
    background: #2E3192;
} */

.circle {
    position: relative;
    width: 4%;
    height: 50px;
    padding-left: 3px;
    border-radius: 50%;
    background-color: #2E3192;
    color: white;
    margin-right: 5px;
    float: right;
}

.cir {
    position: relative;
    width: 4%;
    height: 50px;
    padding-left: 3px;
    border-radius: 50%;
    background-color: #2E3192;
    color: white;
    float: right;

}

li {
    margin: 5px;
}

@media screen and (min-width:777px) {
    .nav-link {
        padding: 18px 0;
        min-width: 120px;
    }

    .navbar {
        padding: 0
    }
}

@media screen and (max-width: 600px) {
    .lang {
        width: 60%;
    }

    .circle {
        position: relative;
        width: 14%;
        height: 50px;
        padding-left: 2px;
        border-radius: 50%;
        background-color: #2E3192;
        color: white;
    }

    .cir {
        position: relative;
        width: 14%;
        height: 50px;
        padding-left: 2px;
        border-radius: 50%;
        background-color: #2E3192;
        color: white;
    }

    .rounded-circle {
        height: 50px;
    }
}

.active {
    border-bottom: 3px solid black;
}