.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Ensure the parent container takes full viewport height */
    background-position: center center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(src/assets/ncp-bg.jpg);
    background-size: cover;
}

mat-card {
    margin: 0 auto;
    /* Center the card horizontally */
    padding: 20px;
    max-width: 80%;
    /* Ensure the card does not exceed 80% of the viewport width */
    box-sizing: border-box;
}

img {
    /* margin-right: 45px; */
    width: 120px;
    height: 120px;
}

mat-card-title {
    margin-top: 40px;
    margin-bottom: 15px;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: black;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 80%;
    margin: auto;
}

.custom-icon {
    padding: 0 !important;
}

.btn {
    width: 30%;
    padding: 10px 20px;
    background: #2E3192;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

@media screen and (max-width: 600px) {
    mat-card {
        margin: 0 35px;
        /* Reduce the margin for smaller screens */
        padding: 15px;
    }

    .btn {
        width: 60%;
        /* Increase the button width for smaller screens */
    }

    img {
        margin-right: 0;
        /* Adjust image margin for smaller screens */
        width: 80px;
        /* Adjust image size for smaller screens */
        height: 80px;
    }

    mat-card-title {
        font-size: 20px;
        /* Adjust title font size for smaller screens */
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    mat-card {
        margin: 0 50px;
        /* Adjust the margin for medium screens */
        padding: 20px;
    }

    .btn {
        width: 50%;
        /* Adjust the button width for medium screens */
    }
    
}