.main {
    background-position: center center;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(src/assets/ncp-bg.jpg);
    background-size: cover;
}

mat-card {
    margin: 0 300px 0 300px;
    padding: 20px;
}

img {
    margin-right: 45px;
    width: 120px;
    height: 120px;
}

mat-card-title {
    margin-top: 40px;
    margin-bottom: 15px;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: black;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 80%;
    margin: auto;
}

.custom-icon {
    padding: 0 !important;
}

.btn {
    width: 30%;
    padding: 10px 20px 10px 20px;
    background: #2E3192;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .card {
        margin: 0 5px 0 5px;
        padding: 15px;
    }

    .btn {
        width: 60%;
    }
}