<div class="pt-5 pb-5">
    <div class="container pt-5 pb-5">
        <div class="card shadow bg-white rounded">
            <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
                <div *ngIf="response">
                    <div *ngFor="let question of response.all_questions; let i = index">
                        <div class="form-group">
                            <label class="pb-3">{{ 'Question ' + (i + 1) + ' : ' + question.question }}</label>
                            <div *ngIf="question.question_type === 'radio_button'">
                                <div *ngFor="let option of question.options">
                                    <input type="radio" [formControlName]="'q' + question.q_id" [value]="option"
                                        (change)="onRadioChange(question.q_id, option)"> {{ option }}
                                </div>
                            </div>
                            <div *ngIf="question.question_type === 'text' && question.q_id !== 12">
                                <textarea rows="2" cols="50" [formControlName]="'q' + question.q_id" class="p-2 shadow bg-white rounded" placeholder="Enter Values"></textarea>
                            </div>

                            <div *ngIf="question.question_type === 'text' && question.q_id === 12">
                                <!-- <div *ngFor="let option of question.options"> -->
                                    <input type="date" [formControlName]="'q' + question.q_id" class="p-2 shadow bg-white rounded">
                                <!-- </div> -->
                            </div>

                        </div>
                    </div>
                    <div class="btn-container">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </div>
                <div *ngIf="!response">Loading...</div>
            </form>
        </div>
    </div>
</div>