<div class="main-div" style="padding-top: 20px">
    <div class="py-2">
        <div class="card px-5 py-3 me-4">
            <mat-card-title>
                <h2 class="py-2 border-bottom">
                    <i class="fa-solid fa-circle-info"></i> Add New Message
                </h2>
            </mat-card-title><br>
            <mat-card-content>
                <form [formGroup]="messageForm">
                    <div class="row mb-3">
                        <label for="message_for" class="col-sm-2 col-form-label"><b>Karykarta Level : </b></label>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-sm-6" *ngFor="let option of options; let i = index">
                                    <label>
                                        <input type="checkbox" [value]="option.value"
                                            (change)="onCheckboxChange($event)" />
                                        {{ option.name }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="question" class="col-sm-2 col-form-label"><b>Message : </b></label>
                        <div class="col-sm-10">
                            <textarea cols="40" rows="4" type="text" class="form-control" formControlName="message"
                                placeholder="Enter message"></textarea>
                        </div>
                    </div>
                    <br />
                    <div class="col-12 text-center">
                        <br />
                        <button type="submit" class="btn btn-primary me-2 mb-2" (click)="postMessageFormData()">
                            Submit
                        </button>
                    </div>
                </form>
            </mat-card-content>
        </div>
    </div>
</div>