<!-- <mat-card>
  <mat-card-title
    ><i class="fa-solid fa-users"></i>
    <b>App Config Settings</b>
  </mat-card-title>
</mat-card> -->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-4 col-sm-12 pb-3">
      <a class="text-decoration-none" [routerLink]="['/adminhome/baramati_village_data']">
        <mat-card class="example-card card-1">
          <mat-card-header class="mx-auto">
            <div mat-card-avatar class="example-header1-image"></div>
            <mat-card-title style="font-size: 20px">Baramati</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <!-- Content here -->
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 pb-3">
      <a class="text-decoration-none" [routerLink]="['/adminhome/khadakwasla_village_data']">
        <mat-card class="example-card card-1">
          <mat-card-header class="mx-auto">
            <div mat-card-avatar class="example-header1-image"></div>
            <mat-card-title style="font-size: 20px">Khadakwasla</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <!-- Content here -->
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 pb-3">
      <a class="text-decoration-none" [routerLink]="['/adminhome/daund_village_data']">
        <mat-card class="example-card card-1">
          <mat-card-header class="mx-auto">
            <div mat-card-avatar class="example-header1-image"></div>
            <mat-card-title style="font-size: 20px">Daund</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <!-- Content here -->
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 pb-3">
      <a class="text-decoration-none" [routerLink]="['/adminhome/indapur_village_data']">
        <mat-card class="example-card card-1">
          <mat-card-header class="mx-auto">
            <div mat-card-avatar class="example-header1-image"></div>
            <mat-card-title style="font-size: 20px">Indapur</mat-card-title>
          </mat-card-header>
          <mat-card-content> </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 pb-3">
      <a class="text-decoration-none" [routerLink]="['/adminhome/purandar_village_data']">
        <mat-card class="example-card card-1">
          <mat-card-header class="mx-auto">
            <div mat-card-avatar class="example-header1-image"></div>
            <mat-card-title style="font-size: 20px">Purandar</mat-card-title>
          </mat-card-header>
          <mat-card-content> </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 pb-3">
      <a class="text-decoration-none" [routerLink]="['/adminhome/bhor_village_data']">
        <mat-card class="example-card card-1">
          <mat-card-header class="mx-auto">
            <div mat-card-avatar class="example-header1-image"></div>
            <mat-card-title style="font-size: 20px">Bhor</mat-card-title>
          </mat-card-header>
          <mat-card-content> </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>

<!-- <ng-template #loadingSpinner>
  <mat-spinner class="loading-spinner mx-auto" diameter="70">Loading!!!!</mat-spinner>
</ng-template> -->
<!-- <div class="card my-2 me-4">
  <h2 class="p-3" style="text-align: left; padding-left: 10px">Joinings</h2>
  <div class="card-body chartBox mx-auto">
    <canvas id="myChart"></canvas>
  </div>
</div> -->