<div class="pt-5 pb-5">
    <div class="container pt-5 pb-5">
        <div class="card shadow bg-white rounded">
            <form [formGroup]="dynamicForm">
                <div *ngIf="response">
                    <div *ngFor="let question of response.all_questions; let i = index">
                        <div class="form-group">
                            <label class="pb-3">{{ 'Question ' + (i + 1) + ' : ' + question.question }}</label>
                            <div *ngIf="question.question_type === 'radio_button'">
                                <div *ngFor="let option of question.options">
                                    <input type="radio" [formControlName]="'q' + question.q_id" [value]="option"
                                        (change)="onRadioChange(question.q_id, option)"> {{ option }}
                                </div>
                            </div>
                            <div *ngIf="question.question_type === 'checkbox'">
                                <div *ngFor="let option of question.options">
                                    <input type="checkbox" [formControlName]="'q' + question.q_id" [value]="option"
                                        (change)="onCheckboxChange(question.q_id, option, $event)"> {{ option }}
                                </div>
                            </div>
                            <div *ngIf="question.question_type === 'text' && question.q_id === 21">
                                <textarea [formControlName]="'q' + question.q_id" rows="3" cols="50" class="p-2 shadow bg-white rounded"
                                    value="{{ currentLocationLink }}" placeholder="Enter Values" readonly></textarea>
                                <br><br>
                                <button type="button" (click)="saveLocation()">Save Current Location</button>
                            </div>
                            <div *ngIf="question.question_type === 'text' && question.q_id !== 21">
                                <textarea rows="3" cols="50" [formControlName]="'q' + question.q_id" class="p-2 shadow bg-white rounded"
                                    placeholder="Enter Values"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="btn-container">
                        <button type="submit" class="btn" (click)="onSubmit()">Submit</button>
                    </div>
                </div>
                <div *ngIf="!response">Loading...</div>
            </form>
        </div>
    </div>
</div>